version: "3"

services: 
  interfaz-web:
    build: ./webPage
    volumes:
      - ./webPage:/usr/src/app      
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"

    ports:
      - 3000:3000
    depends_on: 
      - scriptfinal
      - mongo

  scriptfinal:
    build: ./scriptService
    volumes:
      - ./scriptService:/usr/src/scriptService      
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    devices:
      - /dev/video0:/dev/video0
      - /dev/bus/usb:/dev/bus/usb
      - /tmp/.X11-unix:/tmp/.X11-unix      
    ports:
      - 3500:3500
    privileged: true
    depends_on: 
      - mongo

  mongo: 
    container_name: mongo
    image: mongo
    ports:
      - "6000:27017"
    logging: 
      driver: none

  